<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
				<li><a href="/outreach">Outreach</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/LauraGomezNavarro">Github</a></li>
				<li><a href="https://github.com/LauraGomezNavarro">Github</a></li>
				<li><a href="https://www.researchgate.net/profile/Laura_Gomez-Navarro">ResearchGate</a></li>
				</ul>
				
			    <div class="row">
			      <div class="col-7" style="margin:auto;text-align:center;">
				<div style="font-family:'Helvetica';font-size:4vmax;"><b>Nilesh M Negi</b></div><br/>
				<div style="width:25vmax;display:inline-block;font-size:3vmax;">
				  <a href="mailto:nilesh_negi@yahoo.co.in" rel="noopener noreferrer" target="_blank"><i class="fa fa-envelope fa-xs" style="width:5vmax;"></i></a>
				  <a href="https://www.linkedin.com/in/nileshnegi/" rel="noopener noreferrer" target="_blank"><i class="fa fa-linkedin fa-xs" style="width:5vmax;"></i></a>
				  <a href="https://github.com/nileshnegi" rel="noopener noreferrer" target="_blank"><i class="fa fa-github fa-xs" style="width:5vmax;"></i></a>
				  <a href="https://twitter.com/NileshNegi" rel="noopener noreferrer" target="_blank"><i class="fa fa-twitter fa-xs" style="width:5vmax;"></i></a>
				  <!-- <a href=""><i class="ai ai-google-scholar ai-3x" style="width:15%"></i></a> -->
				</div>
			      </div>
			      <div class="col-5" style="margin:auto;">
				<img class="img-fluid rounded-circle z-depth-1" src="photo1.jpg" style="width:20vmax;height:20vmax;" alt="" data-holder-rendered="true"><br>
			      </div>
			    </div>
			</footer>
		</body>
	</html>


